* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.searchInput{
  color: black !important;
  
}

.searchInput::-webkit-input-placeholder{
  color: gray !important;
}

.searchInput::-moz-placeholder{
  color: gray !important;
}

.searchInput::-ms-input-placeholder{
  color: gray !important;
}